
<p><%= @city.name %></p>

<% @companies.each do |company| %> 
<div style="width: 40px; float:left; clear: both"><%= company.pitch %></div><span style="float: left"><%= company.name %></span>
<% end %>
