body {
  font-family: 'Titillium Web';  
}



@font-face {
  font-family: 'Predige Rounded';
  src: font-url('PredigeRounded-Medium.otf') format('opentype');
  src: font-url('PredigeRounded-Medium.eot?#iefix') format('embedded-opentype'),
       font-url('PredigeRounded-Medium.woff') format('woff'),
       font-url('PredigeRounded-Medium.woff2') format('woff2'),
       font-url('PredigeRounded-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}





#page {
  width: 336px;
  height: 499px;
  margin: 30px;
}

#page .right {
  text-align: right;
}

#page h1 {
  font-family: 'Predige Rounded';
  font-size: 20px;
}

#page h2 {
  font-weight: 300;
  font-size: 18px;
}

#page h4 {
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 40px;
}

#page p {
  font-size: 12px;
}








form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=number]:focus,
form textarea:focus,
form select:focus {
  outline: none;
  -webkit-appearance: none;
}

form {
  width: 400px;
}
form label {
  display: block;
  padding-bottom: 10px;
  text-align: left;
}
form li.select label {
  padding: 15px 0;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=number],
form input[type=tel],
form textarea {
  display: block;
  width: 100%;
  padding: 15px 15px 13px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: normal;
  margin-bottom: 10px;
  min-height: 30px;
  font-size: 16px;
}
form textarea {
  border: 1px solid #ccc;
  height: 100px;
}
form input[type=radio] {
  margin: 5px;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=number]:focus,
form textarea:focus {
  border: 1px solid #333;
}

form input.submit,
form button,
form input[type=submit] {
  cursor: pointer;
  border-radius: 3px;
  padding: 14px 15px 14px 15px;
  min-height: 60px;
  color: #333;
  text-decoration: none;
  -webkit-appearance: none;
}

